In [2]:
import pandas as pd

## Titulo : Influencia del consumo horas de pantalla (RRSS, TELE ....) en la salud mental

In [ ]:
df = pd.read_csv("../Datasets/digital_diet_mental_health.csv")

## Hipótesis a contrastar sobre salud mental y tecnología

1. **Influencia del tiempo frente a pantallas en la salud mental**  
   Se busca determinar si la cantidad de tiempo de exposición a dispositivos digitales tiene un efecto significativo en el bienestar psicológico.

2. **Origen genético de los problemas mentales**  
   Se analiza si la mayoría de los trastornos mentales tienen una base hereditaria en lugar de ser causados por factores externos.

3. **Impacto de hábitos en la salud mental**  
   Se estudia si la salud mental está más influenciada por otros hábitos y condiciones de vida que por el tiempo de uso de pantallas.

4. **Efecto de las redes sociales en adolescentes**  
   Se evalúa si el consumo de información en redes sociales afecta a la salud mental de los adolescentes de manera más intensa que en otros grupos de edad.

 ⭐ ⭐⭐⭐⭐⭐⭐⭐⭐

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   user_id                           2000 non-null   object
 1   age                               2000 non-null   int64
 2   gender                            2000 non-null   object
 3   daily_screen_time_hours           2000 non-null   float64
 4   phone_usage_hours                 2000 non-null   float64
 5   laptop_usage_hours                2000 non-null   float64
 6   tablet_usage_hours                2000 non-null   float64
 7   tv_usage_hours                    2000 non-null   float64
 8   social_media_hours                2000 non-null   float64
 9   work_related_hours                2000 non-null   float64
 10  entertainment_hours               2000 non-null   float64
 11  gaming_hours                      2000 non-null   float64
 12  sleep_duration_hours              2000 non-null   float64
 13  sleep_quality                     2000 non-null   int64
 14  mood_rating                       2000 non-null   int64
 15  stress_level                      2000 non-null   int64
 16  physical_activity_hours_per_week  2000 non-null   float64
 17  location_type                     2000 non-null   object
 18  mental_health_score               2000 non-null   int64
 19  uses_wellness_apps                2000 non-null   int64
 20  eats_healthy                      2000 non-null   int64
 21  caffeine_intake_mg_per_day        2000 non-null   float64
 22  weekly_anxiety_score              2000 non-null   int64
 23  weekly_depression_score           2000 non-null   int64
 24  mindfulness_minutes_per_day       2000 non-null   float64
dtypes: float64(13), int64(9), object(3)
memory usage: 390.8+ KB

In [32]:
df

,user_id,age,gender,daily_screen_time_hours,phone_usage_hours,laptop_usage_hours,tablet_usage_hours,tv_usage_hours,social_media_hours,work_related_hours,...,stress_level,physical_activity_hours_per_week,location_type,mental_health_score,uses_wellness_apps,eats_healthy,caffeine_intake_mg_per_day,weekly_anxiety_score,weekly_depression_score,mindfulness_minutes_per_day
0,user_1,51,Female,4.8,3.4,1.3,1.6,1.6,4.1,2.0,...,10,0.7,Urban,32,1,1,125.2,13,15,4.0
1,user_2,64,Male,3.9,3.5,1.8,0.9,2.0,2.7,3.1,...,6,4.3,Suburban,75,0,1,150.4,19,18,6.5
2,user_3,41,Other,10.5,2.1,2.6,0.7,2.2,3.0,2.8,...,5,3.1,Suburban,22,0,0,187.9,7,3,6.9
3,user_4,27,Other,8.8,0.0,0.0,0.7,2.5,3.3,1.6,...,5,0.0,Rural,22,0,1,73.6,7,2,4.8
4,user_5,55,Male,5.9,1.7,1.1,1.5,1.6,1.1,3.6,...,7,3.0,Urban,64,1,1,217.5,8,10,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,user_1996,58,Female,5.6,4.0,2.5,0.3,1.5,1.1,1.2,...,9,0.0,Urban,62,0,1,164.9,20,17,4.9
1996,user_1997,62,Female,3.9,3.1,1.0,1.5,1.1,2.7,4.1,...,8,2.7,Urban,29,0,0,172.6,15,15,25.5
1997,user_1998,64,Female,7.4,3.0,0.0,1.4,0.9,0.8,2.6,...,4,6.5,Urban,54,1,0,101.3,1,20,9.5
1998,user_1999,19,Male,4.2,4.4,2.3,0.9,1.4,1.7,1.2,...,8,2.6,Urban,28,0,0,123.7,1,11,13.4
1999,user_2000,15,Female,4.5,3.6,1.2,1.4,1.8,2.7,1.8,...,10,6.3,Urban,59,1,0,173.1,0,17,10.0

In [33]:
media_screen = df.groupby("gender")["daily_screen_time_hours"].mean()

In [34]:
media_screen

gender
Female    6.019786
Male      6.053628
Other     5.920219
Name: daily_screen_time_hours, dtype: float64

In [35]:
bins = [0, 18, 30, 50, 100]  # Límites de los rangos
labels = ['Menor', 'Joven', 'Adulto', 'Mayor']  # Etiquetas para los rangos
df['Rango_Edad'] = pd.cut(df['age'], bins=bins, labels=labels)
agrupado = df.groupby('Rango_Edad')["social_media_hours"].mean()
agrupado2 = df.groupby('Rango_Edad')["stress_level"].mean()
agrupado3 = df.groupby('Rango_Edad')["daily_screen_time_hours"].mean()
agrupado4 = df.groupby('Rango_Edad')["mental_health_score"].mean()

C:\Users\34666\AppData\Local\Temp\ipykernel_10648\3177048921.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agrupado = df.groupby('Rango_Edad')["social_media_hours"].mean()
C:\Users\34666\AppData\Local\Temp\ipykernel_10648\3177048921.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agrupado2 = df.groupby('Rango_Edad')["stress_level"].mean()
C:\Users\34666\AppData\Local\Temp\ipykernel_10648\3177048921.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agrupado3 = df.groupby('Rango_Edad')["daily_screen_time_hours"].mean()
C:\Users\34666\AppData\Local\Temp\ipykernel_10648\3177048921.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  agrupado4 = df.groupby('Rango_Edad')["mental_health_score"].mean()

In [36]:
agrupado

Rango_Edad
Menor     1.936638
Joven     2.111316
Adulto    2.035901
Mayor     2.030189
Name: social_media_hours, dtype: float64

In [37]:
agrupado2

Rango_Edad
Menor     5.560345
Joven     5.741339
Adulto    5.438509
Mayor     5.526415
Name: stress_level, dtype: float64

In [38]:
agrupado3

Rango_Edad
Menor     6.100862
Joven     5.992379
Adulto    6.076273
Mayor     5.942830
Name: daily_screen_time_hours, dtype: float64

In [39]:
agrupado4

Rango_Edad
Menor     48.448276
Joven     49.558891
Adulto    50.136646
Mayor     49.513208
Name: mental_health_score, dtype: float64

In [9]:
social_media = df.groupby("gender")["social_media_hours"].mean()

In [10]:
social_media

gender
Female    1.994652
Male      2.096712
Other     1.989617
Name: social_media_hours, dtype: float64

In [5]:
df2 = pd.read_csv("survey.csv")

In [6]:
df2

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN